body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 5px;
}

.title {
  background: #e3f4ff;
  font-size:16px;
  font-weight: bold;
  margin: auto; 
  padding: 5px;
}

.content {
  margin-top:5px;
  margin-bottom:5px;
  padding: 10px 5px;
  /*padding-top:10px;
  padding-bottom:10px;*/
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding:5px;
}

button {
  margin:auto;
  display:block;
  padding:8px;
  padding-left: 16px;
  padding-right: 16px;
  background: white;
  border: 1px solid #eee;
}